<div>
  {{> navbar}}
  <div class="container pt-3">
    <div class="row justify-content-md-center">
      <div class="col-md-3 card p-3">
        <h1 class="text-center">Añadir nota</h1>
        <form action='/notes/add' method='post'>
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="title" id="title" class="form-control">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea name="content" id="content" cols="30" rows="5" class="form-control" style="resize: none;"></textarea>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>